/* Impostazioni Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.centratura {
  width: 85%;
  min-width: 1248px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: rgba(25, 28, 31, 0.84);
  cursor: pointer;
}

/* Blocco Header */

#header-nav-top {
  height: 65px;
  background-color: rgb(243, 244, 245);
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  color: #adadad;
  font-size: 17px;
}

 /* Prima riga Header */

#header-nav-top ul {
  display: flex;
}

#header-nav-top .header-nav-top-left ul li:first-child a {
  font-weight: 500;
  color: rgb(25, 28, 31);
}

#header-nav-top .header-nav-top-left ul li a {
  padding-right: 50px;
}

#header-nav-top .header-nav-top-right ul li a {
  padding-left: 50px;
}

/* Seconda riga Header */

#header-nav-bottom {
  height: 90px;
  width: 100%;
  background-color: #fff;
}

.header-nav-bottom-left, .header-nav-bottom-right {
  width: 10%;
}

.header-nav-bottom-central {
  width: 80%;
}

.header-nav-bottom-left img {
  max-width: 115px;
}

.header-nav-bottom-central > ul {
  display: flex;
  padding: 0 80px;
}

.header-nav-bottom-central > ul > li {
  padding-right: 45px;
}

.header-nav-bottom-central .parent-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  left: -30px;
  padding: 0 30px;
  z-index: 79;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  display: none;
}

.header-nav-bottom-central  .dropdown ul li {
  line-height: 3.5;
}

.header-nav-bottom-central  .dropdown ul li a {
  margin: 0;
}

.header-nav-bottom-central .denaro {
  width: 270px;
}

.header-nav-bottom-central .investimenti {
  width: 360px;
}

.header-nav-bottom-central .contollo {
  width: 190px;
}

.header-nav-bottom-central .altro {
  width: 280px;
}

.header-nav-bottom-central .plans {
  width: 180px;
}

.header-nav-bottom-central .altro span {
  opacity: .2;
  font-size: 14px;
}

.header-nav-bottom-right {
  text-align: right;
}

.btn {
  font-family: Roboto, sans-serif;
  padding: 15px;
  background-color: rgb(25, 28, 31);
  color: #fff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  border: 0;
}

.hamburger {
  font-size: 30px;
  color: rgb(25, 28, 31);
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 69;
  display: none;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #fff;
  box-shadow: rgba(25, 28, 31, 0.04) 0px -4px 8px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
}

.hamburger-menu-top {
  height: 90px;
  background-color: rgb(243, 244, 245);
  padding: 40px;
}

.hamburger-menu-top ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.hamburger-menu-top ul  li{
  padding-right: 40px;
}

.hamburger-menu-top ul li:first-child a {
  font-weight: 500;
  color: rgb(25, 28, 31);
}

.hamburger-menu-main {
  height: calc(100vh - 80px - 90px);
  padding: 0 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hamburger-menu-central ul, .hamburger-menu-bottom ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  background-color: #fff;
}

.hamburger-menu-central > ul {
  border-bottom: solid 1px #adadad;
}

.hamburger-menu-central ul li, .hamburger-menu-bottom ul li {
  width: 100%;
  line-height: 3.2;
  text-align: left;
}

.hamburger-menu-central ul li span {
  opacity: .2;
  font-size: 14px;
}

.hamburger-menu .hamburger-menu-linck {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hamburger-dropdown {
  width: 100%;
  display: none;
}

.hamburger-menu .chiudi {
  position: absolute;
  right: 40px;
  top: 40px;
  color: rgb(25, 28, 31);
  font-size: 20px;
}

#header-nav-top a:hover, #header-nav-bottom a:hover{
  color: rgb(25, 28, 31);
}

.visibile {
  display: block;
}

.color {
  color: rgb(25, 28, 31);
}

.noScrollbar {
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 89;
  width: 100%;
  box-shadow: rgba(25, 28, 31, 0.04) 0px -4px 8px, rgba(25, 28, 31, 0.04) 0px 2px 0px;
}

/* blocco main */

#jumbotron {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

/* blocco jumbotron-left */

.jumbotron-left{
  width: 50%;
  padding-top: 150px;
  padding-right: 9%;
}

.jumbotron-left h1 {
  font-size: 76px;
  color: rgb(25, 28, 31);
}

.jumbotron-left p {
  color: #adadad;
  line-height: 1.5;
  font-size: 18px;
  padding: 30px 0;
}

.jumbotron-left select {
  font-family: Roboto, sans-serif;
  width: 90px;
  margin-right: 10px;
  padding: 5px 0;
  font-size: 16px;
  border: none;
  border-bottom: solid 2px #adadad;
  cursor: pointer;
}

.jumbotron-left input {
  font-family: Roboto, sans-serif;
  width: 200px;
  margin-right: 10px;
  padding: 5px 0;
  font-size: 16px;
  border: none;
  border-bottom: solid 2px #adadad;
}

.jumbotron-left .btnInizia {
  font-size: 18px;
  width: 140px;
}

.jumbotron-left .form {
  margin-bottom: 30px;
}

.jumbotron-left span {
  margin-right: 18px;
}

/* blocco jumbotron-right */

.jumbotron-right {
  width: 50%;
  padding-top: 50px;
  position: relative;
}

.jumbotron-right img {
  height: 610px;
}

.jumbotron-right .contenitore-play {
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-right .play {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 20px 0px;
  background-color: #fff;
  color: rgb(25, 28, 31);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-right .play:hover {
  cursor: pointer;
}

/* blocco footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: rgba(25, 28, 31, 0.04) 0px -4px 8px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  display: none;
}

.footer-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1300px) {

  .centratura {
    width: 90%;
    min-width: 1000px;
    margin: 0 auto;
  }

  .header-nav-bottom-right {
    width: 13%;
  }

  .header-nav-bottom-central {
    width: 77%;
  }

  .jumbotron-left{
    padding-right: 1%
  }

}

/* VERSIONE MD */

@media all and (max-width: 1023px) {

  .centratura {
    width: 85%;
    min-width: 250px;
    margin: 0 auto;
  }

  #header-nav-top {
    display: none;
  }

  .header-nav-bottom-central {
    display: none;
  }

  .header-nav-bottom-right button {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sticky {
    position: inherit;
    box-shadow: none;
  }

  /* blocco main */

  #jumbotron {
    display: block;
  }

  /* blocco jumbotron-left */

  .jumbotron-left {
    min-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 0;
    text-align: center;
  }

  .jumbotron-left h1 {
    font-size: 46px;
  }

  .jumbotron-left .form, .jumbotron-left .apriConto{
    display: none;
  }

  .jumbotron-right {
    width: 60%;
    min-width: 450px;
    padding: 30px;
    margin: 0 auto;
  }

  .jumbotron-right img {
    height: 100%;
    width: 100%;
  }

  .jumbotron-right .contenitore-play {
    display: none;
  }


  footer {
    display: block;
  }


}

/* VERSIONE XS */
@media all and (max-width: 500px) {

  .centratura {
    width: 90%;
    margin: 0 auto;
  }

  /* blocco jumbotron-left */

  .jumbotron-left {
    width: 100%;
    min-width: 0;
  }

  .jumbotron-right {
    width: 100%;
    min-width: 250px;
  }


  footer {
    display: block;
  }


}
